@{
    ViewData["Title"] = "Página de contato";
    ViewData["tags"] = "Loja, Loja exemplo, loja exemplo C sharp, loja exemplo C#";
    ViewData["desc"] = "Loja exemplo desenvolvida em C#, este site não efetua nenhum tipo de venda";
}
<main class="main">
    <nav class="breadcrumb-nav">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/"><i class="d-icon-home"></i></a></li>
                <li>Sobre</li>
            </ul>
        </div>
    </nav>
    <div class="page-header" style="background-image: url(images/page-header/contact-us.jpg)">
        <h1 class="page-title font-weight-bold text-capitalize ls-l">Sobre</h1>
    </div>
    <div class="page-content mt-10 pt-7">
        <section class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>@ViewData["homeFantasia"]</h1>
                    </div>
                    <div class="col-12">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus placerat a tellus volutpat eleifend. In nec odio dapibus, gravida mi maximus, pharetra massa. In eros arcu, semper molestie sodales ut, aliquam et odio. Nam eget massa in quam dictum dapibus. Quisque auctor dapibus metus, sed rutrum ipsum commodo quis. Duis maximus mollis interdum. Sed quis feugiat augue. Vestibulum tempor eu nisi id consectetur. Proin vestibulum quis lacus vitae laoreet. Maecenas nec ex iaculis, mattis dolor in, facilisis justo. Nam in porttitor magna. Nullam mattis sollicitudin turpis, sollicitudin interdum odio rhoncus sit amet. Proin in rhoncus magna, eu finibus lorem. Proin viverra libero non nisl tincidunt, id mollis tortor pretium.

                            Nulla facilisi. Donec feugiat est pharetra, posuere enim sit amet, consectetur nibh. Donec maximus aliquet nisl, eget fringilla eros fringilla vitae. Donec congue ultricies libero ut sodales. Praesent mollis nibh nisl, ac lacinia metus vestibulum ut. Integer imperdiet in orci sed molestie. Nam urna quam, viverra eget fermentum vel, ullamcorper non metus. Donec ac nibh tempus, scelerisque erat id, ultricies magna.

                            Nunc et tincidunt felis. Fusce malesuada blandit est, at semper libero ornare sit amet. Curabitur eget viverra risus. Suspendisse potenti. Mauris at odio ultrices mi convallis finibus nec et urna. Donec ut mauris tortor. Maecenas cursus eros faucibus molestie ultricies. Maecenas volutpat ante sed iaculis vulputate. Nullam auctor mauris urna. Integer ex quam, consequat nec bibendum gravida, suscipit nec diam. Ut ut finibus risus. Aliquam porta semper dui, ac facilisis enim.

                            Ut non ante non magna vulputate eleifend. Duis viverra neque sed dolor posuere, id imperdiet mauris consectetur. Vivamus interdum ut odio in faucibus. Nunc pretium porttitor mauris eu eleifend. Donec sit amet magna in nisl ornare convallis dictum in enim. Donec eget mollis neque, quis efficitur ex. Aenean eget porta ipsum, eu lobortis quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultricies sit amet sem eget facilisis.

                            Morbi eu aliquet dui, eu vehicula nibh. Suspendisse potenti. Aenean blandit luctus felis, eu tempor nibh hendrerit vel. Integer tristique lectus eu lectus mattis, id pretium nisl maximus. Vivamus semper fringilla ipsum, sit amet pellentesque felis pharetra vitae. Ut venenatis lobortis turpis, sed maximus ipsum. Cras efficitur nisi sit amet libero blandit, aliquet tincidunt magna sagittis.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Section-->

    </div>
</main>